body{
    margin:.5em auto;
    border-radius: 25px;
    border:3px solid black;
    max-width: 30em;
}
.header,
.footer{
    max-width:30em;
    height:11%;
    
}
img{
   width:100%;
   height:100%;
   object-fit: cover;
   border-radius: 10px;
  
}
.header img{
    width: 50%;
    border-radius: 20px;
    margin:0;
   
    

}
.liked{
  
    width:6em;
    height: 6em;
    border-radius: 40px;
    margin-bottom:100%;
    margin-left: 1em;
    position: absolute;


    
}
button img{
    border-radius: 20px;
    width:3em;
    height: 3em;
}
#main{
    height: 76%;
    max-width: 30em;
    padding: .5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    position: relative;
  
  
}
.footer{
    display:flex;
    justify-content: center;
}
button{
    margin:2em;
    
    height: 4em;
    width: 4em;
    border-radius: 25px;
    background-color: aliceblue;
    border:0;
}
button:hover{
    background-color: aqua;
}
.info{
    position:absolute;
    color:white;
    padding-left: 1em;
    font-size: bold;
    
}
.info p{
    font-size:2em;
    color:white;
    font-weight: bold;;
}
.info h1{
     font-size: 3em;
}
